<div class="card">
    <div class="card-content">
        <div class="media">
            <div class="media-content has-text-centered">
                <p style="margin-bottom: 1em;"><i class="{{ .icon }} fa-5x" aria-hidden="true"></i></p>
                <a href="{{ .link }}">
                    <p class="title is-4">{{ .title }}</p>
                </a>
            </div>
        </div>

        <div class="content">
            <div class="is-divider"
                style="border-top:.1rem dashed #dbdbdb57 !important;margin: 1rem 0 !important;">
            </div>
            <p>{{ .description }}</p>
        </div>
        <div class="content has-text-centered">
            <a href="{{ .link }}" class="button is-primary is-outlined"> {{ .button }} </a>
        </div>
    </div>
</div>