{{ $footer := $.Site.Data.footer }}
{{ if $footer }}
{{ $footer_lang := index $footer .Page.Language.Lang }}
{{ if $footer_lang }}
<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <div class="columns" style="padding-bottom: 2em;padding-top: 2em;">
                {{ range $footer_lang }}
                <div class="column">
                    <h3 class="subtitle has-text-centered">{{ .title }}</h3>
                    <p>{{ .description }}</p>
                    <div class="tags is-centered">
                        {{ range .list }}
                        <a href="{{ .link }}" style="text-decoration: none;" class="tag">{{ .title }}</a>
                        {{ end }}
                    </div>
                </div>
                {{ end }}

            </div>

            <p>
                <a class="tag" href="/index.xml">Feed</a>
                <a class="tag" href="/data.json">JSON Data</a>
            </p>
        </div>
    </div>
</footer>
{{ end }}
{{ end }}