<!-- Hero content: this will be a banner -->
<section>
    <div class="hero is-primary">
        <div class="hero-body">
            <div class="container has-text-centered">

                <div class="columns is-primary" style="padding-bottom: 2em;padding-top: 2em;">
                    {{ $cards := $.Site.Data.showcards }}
                    {{ if $cards }}
                        {{ $cards_lang := index $cards .Page.Language.Lang }}
                        {{ if $cards_lang }}
                            {{ range $cards_lang }}
                                <div class="column">
                                    <div class="notification is-primary has-text-centered">
                                        <h3 class="subtitle has-text-centered">{{ .title }}</h3>
                                        <p>{{ .content | markdownify }}
                                        </p>
                                        <div class="buttons is-centered" style="margin-top: 2em;">
                                            <a href="{{ .link }}" class="button is-warning is-medium">{{ .button }}</a>
                                        </div>
                                    </div>
                                </div>
                            {{ end }}
                        {{ end }}
                    {{ end }}

                </div>

            </div>
        </div>
    </div>


</section>