    <p class="menu-label">
        <i class="fas fa-book-open"></i> {{ .title }}
    </p>
    <ul class="menu-list">
        {{ range .toc }}
        <li><a href="{{ .link }}"><i class="{{ .icon }}" aria-hidden="true"></i> {{ .title }}</a>
            {{ if .toc }}
            <ul>
                {{ range .toc }}
                <li><a href="{{ .link }}"><i class="{{ .icon }}" aria-hidden="true"></i> {{ .title }}</a></li>
                {{ end }}
            </ul>
            {{ end }}
        </li>
        {{ end }}
    </ul>